<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.crud.mapper.DepartmentMapper">

	
	<select id="findByDeptId" resultType="jp.co.sss.crud.entity.Department">
		SELECT * 
		FROM Department
		WHERE dept_id = #{deptId}
	</select>


</mapper>